---
---

@import "{{ site.theme }}";

.profile-pic {
  border-radius: 10px;
  max-width: 300px;
  width: 45%;
}

img {
  border-radius: 10px;
}

p img {
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.socials {
  border: none;
}

.socials tr {
  border: none;
}

.socials tr td {
  border: none;
  padding: 5px;
}

nav a {
  padding-right: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  background: none;
  text-shadow: #111 0px 0px 10px;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

#project_title a, #project_title a:hover, #project_title a:active, #project_title a:visited {
  color: #fff;
  text-decoration: none;
}

.post-entry {
  padding: 10px;
  margin: 20px 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.post-metadata {
  font-size: 0.75em;
  font-weight: 300;
  margin: 8px 0;
}

.post-metadata a, .post-metadata a:hover, .post-metadata a:active, .post-metadata a:visited {
  text-decoration: underline;
  color: #373737;
}

.post-metadata a:hover, .post-metadata a:active {
  color: #222222;
}

.post-metadata b {
  font-weight: 600;
}

.post-excerpt * {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
  border: none;
  color: #373737;
}

.post-pagination p {
  margin-top: 2px;
  margin-bottom: 2px;
}

.post-pagination h3 {
  margin-top: 25px;
  margin-bottom: 5px;
}

.post-end-separator {
  background: none;
  border: none;
  height: 2px;
  width: 80%;
  margin: 20px auto;
  background-color: #373737;
}

#nav2>.nav-list {
  display: inline;
  list-style: none;
  padding-left: none;
}

#nav2>.nav-list>.nav-item {
  display: inline-block;
}

.nav-item>.nav-list {
  display: none;
  list-style: none;
  position: absolute;
  z-index: 100;
  background: linear-gradient(to top, #373737, #212121);
}

.nav-item>.nav-list>.nav-item {
  display: block;
  padding: 5px;
}

.nav-item>.nav-list>.nav-item>a {
  font-size: 15px;
}

.nav-item:hover>.nav-list {
  display: block;
}