---
---

@import "{{ site.theme }}";

.profile-pic {
  border-radius: 10px;
}

img {
  border-radius: 10px;
}

.socials {
  border: none;
}

.socials tr {
  border: none;
}

.socials tr td {
  border: none;
}

nav a {
  padding-right: 10px;
}

nav a::before {
  content: " | ";
}

nav:first-child::before {
  content: "";
}
