---
---

@import "{{ site.theme }}";

.profile-pic {
  border-radius: 10px;
}

img {
  border-radius: 10px;
}

.socials {
  border: none;
}

.socials tr {
  border: none;
}

.socials tr td {
  border: none;
  padding: 5px;
}

nav a {
  padding-right: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  background: none;
  text-shadow: #111 0px 0px 10px;
}
