---
layout: default
---

<div class="post-metadata">
    <b>Posted on:</b> {{ page.date | date: '%B %d, %Y' }}<br />
    <b>Category:</b> <a href="/blog/categories#{{ page.category | url_encode }}">{{ page.category }}</a><br />
    <b>Tags:</b> {% for tag in page.tags -%}
        {%- if forloop.length > 0 -%}
            <a href="/blog/tags#{{ tag }}">{{ tag | replace: "+", " " }}</a>{% unless forloop.last %}, {% endunless -%}
        {%- endif -%}
    {% endfor %}
</div>
{{ content }}

<div class="post-end-spacer">&nbsp;</div>

<hr class="post-end-separator">

<div class="post-pagination">
    {% if page.previous %}
    <div class="post-previous">
        <h3>Previous</h3>
        <p><a href="{{ site.baseurl }}{{ page.previous.url }}">{{ page.previous.title }}</a></p>
    </div>
    {% endif %}
    {% if page.next %}
    <div class="post-next" align="right">
        <h3>Up Next</h3>
        <p><a href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title }}</a></p>
    </div>
    {% endif %}
 </div>